<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="app-navbar">
    <div class="app-navbar-inner">
        <a class="app-brand" th:href="@{/}">Car Renting</a>

        <div class="app-navbar-right">

            <span th:if="${account != null}"
                  class="app-nav-user"
                  th:text="${account.accountName}">Guest</span>

            <form th:if="${account != null}"
                  th:action="@{/logout}" method="post" class="app-nav-form">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="app-nav-logout">Logout</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>